.main-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1;
}

.chat-container {
	flex-direction: column;
	flex: 1;
}

.log-container {
	flex-direction: column;
	flex: 1;
}
